*{
  /* box-sizing: border-box; */
  user-select: none;
}
img {
  -webkit-user-drag: none;
}
.bg-blur {
  background: hsla(0, 0%, 99.6%, 0.8);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/* Desktop */
.main-desktop {
  background-image: url(../public/images/img1.jpg);
}



.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  bottom: 0;
  cursor: se-resize;
  z-index: 1;
}